.article {
  width: 100%;
  max-width: 800px;

  .article-top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      color: #888;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  .prev-next {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
      color: #000;
    }
  }

  @media screen and (max-width: 500px) {
    .prev-next {
      flex-direction: column;

      * {
        margin-bottom: 10px;
      }

      a {
        color: #000;
      }
    }
  }
}
